{
  "openapi": "3.0.1",
  "info": {
    "title": "FCON Query service",
    "description": "API for FCON Query service",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.vehicle.ford.com/fcon-query" }],
  "tags": [
    {
      "name": "Customer Info - Email and Names",
      "description": "Get users email and names"
    },
    {
      "name": "Electric",
      "description": "Operations related to electric data"
    },
    { "name": "Garage", "description": "Operations related to garage data" },
    {
      "name": "Telemetry",
      "description": "Operations related to telemetry data"
    },
    {
      "name": "Charging Station",
      "description": "Operations related to charging station data"
    },
    {
      "name": "Vehicle Health",
      "description": "Operations related to vehicle health data"
    },
    {
      "name": "Vehicle Image",
      "description": "Operations related to vehicle image data"
    },
    { "name": "Wallbox", "description": "Operations related to wallbox data" }
  ],
  "paths": {
    "/v1/wallbox": {
      "get": {
        "tags": ["Wallbox"],
        "summary": "Wallbox",
        "description": "Get wallbox data",
        "operationId": "getWallboxDetailsV1",
        "responses": {
          "200": {
            "description": "Gets wallbox response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WallboxResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/vehicle-image": {
      "get": {
        "tags": ["Vehicle Image"],
        "summary": "Vehicle Image",
        "description": "Get vehicle image data",
        "operationId": "getVehicleImageV1",
        "responses": {
          "200": {
            "description": "Gets Vehicle image response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleImageResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/vehicle-health/alerts": {
      "get": {
        "tags": ["Vehicle Health"],
        "summary": "Vehicle Health Alerts",
        "description": "Get vehicle health alerts",
        "operationId": "getVehicleAlertsV1",
        "responses": {
          "200": {
            "description": "Gets Vehicle Health Alerts response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleAlertResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/telemetry": {
      "get": {
        "tags": ["Telemetry"],
        "summary": "Vehicle Telemetry",
        "description": "Get vehicle telemetry data",
        "operationId": "getVehicleTelemetryDetailsV1",
        "responses": {
          "200": {
            "description": "Gets Telemetry response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/garage": {
      "get": {
        "tags": ["Garage"],
        "summary": "Garage",
        "description": "Get vehicles in user's garage",
        "operationId": "getGarageInfoV1",
        "responses": {
          "200": {
            "description": "Gets garage response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GarageResponseDTO",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/fccs": {
      "get": {
        "tags": ["Charging Station"],
        "summary": "Charging Station Activity",
        "description": "Get charging station activity",
        "operationId": "getStationIdActivityV1",
        "parameters": [
          {
            "name": "chargingStationId",
            "in": "header",
            "description": "Charging station ID",
            "required": true,
            "style": "SIMPLE",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
              "type": "string",
              "example": "b99d7f71-1c64-4d16-b0be-04009599f099",
              "exampleSetFlag": true,
              "types": ["string"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start Date format",
            "required": false,
            "style": "FORM",
            "explode": true,
            "schema": {
              "maxLength": 10,
              "minLength": 0,
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])$",
              "type": "string",
              "example": "2023-10-20",
              "exampleSetFlag": true,
              "types": ["string"]
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End Date format",
            "required": false,
            "style": "FORM",
            "explode": true,
            "schema": {
              "maxLength": 10,
              "minLength": 0,
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])$",
              "type": "string",
              "example": "2023-11-18",
              "exampleSetFlag": true,
              "types": ["string"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets Activity message response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FccsResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/electric/departure-times": {
      "get": {
        "tags": ["Electric"],
        "summary": "Departure Times",
        "description": "Get electric vehicle departure times",
        "operationId": "getElectricDepartureTimesV1",
        "responses": {
          "200": {
            "description": "Gets Departure Times response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepartureTimeResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/electric/charge-schedules": {
      "get": {
        "tags": ["Electric"],
        "summary": "Charge Schedules",
        "description": "Get electric vehicle charge schedules",
        "operationId": "getElectricChargeSchedulesV1",
        "responses": {
          "200": {
            "description": "Gets Preferred Charge Times response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeScheduleResponse",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    },
    "/v1/customer-info": {
      "get": {
        "tags": ["Customer Info - Email and Names"],
        "summary": "User Email and Names",
        "description": "Get user email and names",
        "operationId": "getCustomerInfo",
        "responses": {
          "200": {
            "description": "Get users email and names response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInfoResponseDTO",
                  "exampleSetFlag": false
                },
                "exampleSetFlag": false
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 400,\"errorMessage\": \"Bad Request\"}",
                "exampleSetFlag": true
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 401,\"errorMessage\": \"Unauthorized\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 403,\"errorMessage\": \"Forbidden\"}",
                "exampleSetFlag": true
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "exampleSetFlag": false,
                  "types": ["string"]
                },
                "exampleSetFlag": false
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 404,\"errorMessage\": \"Not Found\"}",
                "exampleSetFlag": true
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 405,\"errorMessage\": \"Method Not Allowed\"}",
                "exampleSetFlag": true
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 406,\"errorMessage\": \"Not Acceptable\"}",
                "exampleSetFlag": true
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 415,\"errorMessage\": \"Unsupported Media Type\"}",
                "exampleSetFlag": true
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 429,\"errorMessage\": \"Too Many Requests\"}",
                "exampleSetFlag": true
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 502,\"errorMessage\": \"Bad Gateway\"}",
                "exampleSetFlag": true
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDTO",
                  "exampleSetFlag": false
                },
                "example": "{\"errorCode\": 500,\"errorMessage\": \"Internal Server Error\"}",
                "exampleSetFlag": true
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Result": {
        "type": "object",
        "properties": {
          "associatedChargingStationIds": {
            "maxItems": 100,
            "minItems": 0,
            "type": "array",
            "additionalProperties": false,
            "example": ["00000000-1111-2222-3333-444444444444"],
            "exampleSetFlag": true,
            "items": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
              "type": "string",
              "additionalProperties": false,
              "example": "[\"00000000-1111-2222-3333-444444444444\"]",
              "exampleSetFlag": true,
              "types": ["string"]
            },
            "types": ["array"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "WallboxResponse": {
        "type": "object",
        "properties": {
          "result": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Result",
            "exampleSetFlag": false
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "VehicleImageResponse": {
        "type": "object",
        "properties": {
          "vehicleImage": {
            "type": "string",
            "additionalProperties": false,
            "exampleSetFlag": false,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Actions": {
        "type": "object",
        "properties": {
          "roadsideAssistance": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 0,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "scheduleService": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 0,
            "exampleSetFlag": true,
            "types": ["integer"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "ActiveAlert": {
        "type": "object",
        "properties": {
          "Body": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Body",
            "exampleSetFlag": false
          },
          "FormattedBody": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "Headline": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "Metadata": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Metadata",
            "exampleSetFlag": false
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Body": {
        "type": "object",
        "properties": {
          "whatIsHappening": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "whatShouldIdo": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Components": {
        "type": "object",
        "properties": {
          "actions": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Actions",
            "exampleSetFlag": false
          },
          "headline": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Headline",
            "exampleSetFlag": false
          },
          "icon": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Icon",
            "exampleSetFlag": false
          },
          "version": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Headline": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Icon": {
        "type": "object",
        "properties": {
          "assetLocation": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "default": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 0,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "categoryName": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "components": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Components",
            "exampleSetFlag": false
          },
          "displaySequence": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 0,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "dtcCode": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "failureCode": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "severity": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 0,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "wilCode": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "VehicleAlert": {
        "type": "object",
        "properties": {
          "ActiveAlerts": {
            "type": "array",
            "additionalProperties": false,
            "exampleSetFlag": false,
            "items": {
              "additionalProperties": false,
              "$ref": "#/components/schemas/ActiveAlert",
              "exampleSetFlag": false
            },
            "types": ["array"]
          },
          "ActivityId": {
            "maxLength": 40,
            "minLength": 0,
            "pattern": "^(.*)$",
            "type": "string",
            "additionalProperties": false,
            "example": "00000000-1111-2222-3333-444444444444",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "EventTimeStamp": {
            "type": "string",
            "additionalProperties": false,
            "example": "string",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "StatusCode": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 4040,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "StatusDesc": {
            "maxLength": 500,
            "minLength": 0,
            "pattern": "(.*)$",
            "type": "string",
            "additionalProperties": false,
            "example": "No Data",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "Vin": {
            "maxLength": 17,
            "minLength": 0,
            "pattern": "[0-9A-Z]{11,17}",
            "type": "string",
            "additionalProperties": false,
            "example": "1FABP1329FW178914",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "VehicleAlertResponse": {
        "type": "object",
        "properties": {
          "message": {
            "maxLength": 500,
            "minLength": 0,
            "pattern": "(.*)",
            "type": "string",
            "additionalProperties": false,
            "example": "Success",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "status": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int32",
            "example": 2000,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "version": {
            "maxLength": 500,
            "minLength": 0,
            "pattern": "(.*)",
            "type": "string",
            "additionalProperties": false,
            "example": "1.0",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "VehicleAlertList": {
            "maxItems": 100,
            "minItems": 0,
            "type": "array",
            "additionalProperties": false,
            "exampleSetFlag": false,
            "items": {
              "additionalProperties": false,
              "$ref": "#/components/schemas/VehicleAlert",
              "exampleSetFlag": false
            },
            "types": ["array"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "Acceleration": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "duration": {
            "type": "integer",
            "additionalProperties": false,
            "format": "int64",
            "example": 12345,
            "exampleSetFlag": true,
            "types": ["integer"]
          },
          "value": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/AccelerationValue",
            "exampleSetFlag": false
          },
          "sampleRate": {
            "type": "string",
            "additionalProperties": false,
            "example": "UP_TO_1_SECOND",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "UP_TO_1_SECOND",
              "UP_TO_5_SECONDS",
              "UNRECOGNIZED"
            ]
          },
          "gpsModuleTimestamp": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AccelerationValue": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "y": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "z": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "sensorType": {
            "type": "string",
            "additionalProperties": false,
            "example": "GYRO_DATA",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "TYPE_UNSPECIFIED",
              "GYRO_DATA",
              "ROTATION_RATE",
              "ACCELEROMETER_DATA",
              "ACCELERATION_RATE",
              "MAGNETOMETER_DATA",
              "MAGNETIC_FIELD",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AcceleratorPedalStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "WITHOUT_DRIVING_FORCE",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "WITHOUT_DRIVING_FORCE",
              "WITH_DRIVING_FORCE",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AirFlow": {
        "type": "object",
        "properties": {
          "fanSpeed": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "airVentDistributions": {
            "type": "array",
            "additionalProperties": false,
            "example": "FLOOR_AIR_VENT",
            "exampleSetFlag": true,
            "items": {
              "type": "string",
              "additionalProperties": false,
              "example": "FLOOR_AIR_VENT",
              "exampleSetFlag": true,
              "types": ["string"],
              "enum": [
                "UNKNOWN_AIR_VENT",
                "FLOOR_AIR_VENT",
                "INSTRUMENT_PANEL_AIR_VENT",
                "DEFROST_AIR_VENT",
                "UNRECOGNIZED"
              ]
            },
            "types": ["array"]
          },
          "airCirculationStatus": {
            "type": "string",
            "additionalProperties": false,
            "example": "FRESH_INTAKE",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN_AIR_CIRCULATION",
              "FRESH_INTAKE",
              "RECIRCULATE",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AlarmStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "DISARMED",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "DISARMED",
              "PREARMED",
              "ARMED",
              "ACTIVATED",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AntennaSource": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "PRIMARY_ANTENNA",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "PRIMARY_ANTENNA",
              "BACKUP_ANTENNA",
              "UNRECOGNIZED"
            ]
          },
          "antennaType": {
            "type": "string",
            "additionalProperties": false,
            "example": "CELLULAR",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": ["UNKNOWN", "CELLULAR", "GPS", "UNRECOGNIZED"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "AutomaticSoftwareUpdateScheduleSetting": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "exampleSetFlag": false,
            "types": ["string"]
          },
          "value": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/Schedule",
            "exampleSetFlag": false
          },
          "error": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/ErrorConfigurationValue",
            "exampleSetFlag": false
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BatteryLoadStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "LOW_BATTERY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "ACCESSORY_MODE",
              "NORMAL_OPERATION",
              "LOW_BATTERY",
              "BATTERY_FAULT",
              "ERROR_STATE",
              "OVERLOAD_SHEDDING_IN_PROGRESS",
              "UNRECOGNIZED"
            ]
          },
          "batteryLoadFault": {
            "type": "string",
            "additionalProperties": false,
            "example": "NO_OUTPUT",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "NO_OUTPUT",
              "OUTPUT_BELOW_NORMAL_RANGE",
              "OUTPUT_ABOVE_NORMAL_RANGE",
              "SENSOR_FAULT",
              "SERVICING_NEEDED",
              "UNRECOGNIZED"
            ]
          },
          "vehicleBattery": {
            "type": "string",
            "additionalProperties": false,
            "example": "PRIMARY_BATTERY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN_BATTERY",
              "PRIMARY_BATTERY",
              "ACCESSORY_BATTERY",
              "BACKUP_BATTERY",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BatteryPowerSource": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "MAIN_BATTERY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "MAIN_BATTERY",
              "BACKUP_BATTERY",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BatteryStateOfCharge": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "vehicleBattery": {
            "type": "string",
            "additionalProperties": false,
            "example": "PRIMARY_BATTERY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN_BATTERY",
              "PRIMARY_BATTERY",
              "ACCESSORY_BATTERY",
              "BACKUP_BATTERY",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BatteryStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "SUFFICIENT",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "SUFFICIENT",
              "LOW_VOLTAGE",
              "WARNING",
              "DISCHARGED",
              "UNAVAILABLE",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BatteryVoltage": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "vehicleBattery": {
            "type": "string",
            "additionalProperties": false,
            "example": "PRIMARY_BATTERY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN_BATTERY",
              "PRIMARY_BATTERY",
              "ACCESSORY_BATTERY",
              "BACKUP_BATTERY",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BlindSpotWarningSystemStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "ACTIVE",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": ["UNDEFINED", "ACTIVE", "INACTIVE", "UNRECOGNIZED"]
          },
          "monitorCoverage": {
            "type": "string",
            "additionalProperties": false,
            "example": "REGULAR",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": ["UNKNOWN", "REGULAR", "TRAILER", "UNRECOGNIZED"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "BluetoothPhoneSystemStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "UNKNOWN",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "UNABLE_TO_CONNECT",
              "PHONE_NOT_SUPPORTED",
              "BLUETOOTH_NOT_READY",
              "BLUETOOTH_CONNECTING",
              "BLUETOOTH_CONNECTED",
              "BLUETOOTH_DISCONNECTED",
              "PHONE_VOICE_ASSISTANT_ACTIVE",
              "INPUT_OUTPUT_SET_TO_HANDSET",
              "CALL_IN_PROGRESS",
              "UNRECOGNIZED"
            ]
          },
          "bluetoothPhoneCallType": {
            "type": "string",
            "additionalProperties": false,
            "example": "SINGLE_CALL",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "SINGLE_CALL",
              "CONFERENCE_CALL",
              "UNRECOGNIZED"
            ]
          },
          "bluetoothPhoneCallStatus": {
            "type": "string",
            "additionalProperties": false,
            "example": "DIALING",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "DIALING",
              "INCOMING_CALL",
              "CONNECTED",
              "PRIMARY_CALL_ON_HOLD",
              "SECONDARY_CALL_ON_HOLD",
              "RECIPIENT_NOT_REACHABLE",
              "SECONDARY_PARTICIPANT_INCOMING",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "CabinTemperatureSetting": {
        "type": "object",
        "properties": {
          "measuredTemperature": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          },
          "relativeTemperature": {
            "type": "number",
            "additionalProperties": false,
            "format": "double",
            "example": 12.2,
            "exampleSetFlag": true,
            "types": ["number"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "ClimateControl": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/ClimateControlValue",
            "exampleSetFlag": false
          },
          "vehicleOccupantRole": {
            "type": "string",
            "additionalProperties": false,
            "exampleSetFlag": false,
            "types": ["string"],
            "enum": ["UNKNOWN", "DRIVER", "PASSENGER", "UNRECOGNIZED"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "ClimateControlValue": {
        "type": "object",
        "properties": {
          "airFlow": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/AirFlow",
            "exampleSetFlag": false
          },
          "cabinTemperatureSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/CabinTemperatureSetting",
            "exampleSetFlag": false
          },
          "airConditionerStatus": {
            "type": "string",
            "additionalProperties": false,
            "example": "ON",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": ["UNKNOWN_AIR_CONDITIONER_STATUS", "OFF", "ON"]
          },
          "systemControlMode": {
            "type": "string",
            "additionalProperties": false,
            "example": "AUTOMATIC_SYSTEM_CONTROL_MODE",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN_SYSTEM_CONTROL_MODE",
              "MANUAL_SYSTEM_CONTROL_MODE",
              "AUTOMATIC_SYSTEM_CONTROL_MODE"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "CollisionMitigationBrakeStatus": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "BRAKE_APPLIED",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "BRAKE_NOT_PRE_CHARGED",
              "BRAKE_PRE_CHARGED",
              "BRAKE_APPLIED",
              "UNRECOGNIZED"
            ]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "CompassDirection": {
        "type": "object",
        "properties": {
          "updateTime": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "oemCorrelationId": {
            "type": "string",
            "additionalProperties": false,
            "example": "9999",
            "exampleSetFlag": true,
            "types": ["string"]
          },
          "tags": {
            "type": "object",
            "additionalProperties": false,
            "example": { "KEY": "VALUE" },
            "exampleSetFlag": true,
            "types": ["object"]
          },
          "value": {
            "type": "string",
            "additionalProperties": false,
            "example": "NORTH",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "NORTH",
              "NORTHEAST",
              "EAST",
              "SOUTHEAST",
              "SOUTH",
              "SOUTHWEST",
              "WEST",
              "NORTHWEST",
              "UNRECOGNIZED"
            ]
          },
          "sampleRate": {
            "type": "string",
            "additionalProperties": false,
            "example": "UP_TO_1_SECOND",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "UNKNOWN",
              "UP_TO_1_SECOND",
              "UP_TO_5_SECONDS",
              "UNRECOGNIZED"
            ]
          },
          "gpsModuleTimestamp": {
            "type": "string",
            "additionalProperties": false,
            "format": "date-time",
            "example": "2025-08-15T21:53:06.41924Z",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "ConfigurationResponse": {
        "type": "object",
        "properties": {
          "remoteStartRunDurationSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/StandardSetting",
            "exampleSetFlag": false
          },
          "vehicleControlPolicy": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/VehicleControlPolicy",
            "exampleSetFlag": false
          },
          "forwardCollisionWarningSensitivitySetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/ForwardCollisionWarningSensitivitySetting",
            "exampleSetFlag": false
          },
          "xevBatteryTargetStateOfChargeSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/StandardSetting",
            "exampleSetFlag": false
          },
          "xevBatteryTargetRangeSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/StandardSetting",
            "exampleSetFlag": false
          },
          "automaticSoftwareUpdateNotificationOptInSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/StandardSoftwareUpdate",
            "exampleSetFlag": false
          },
          "automaticSoftwareUpdateOptInSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/StandardSoftwareUpdate",
            "exampleSetFlag": false
          },
          "automaticSoftwareUpdateScheduleSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/AutomaticSoftwareUpdateScheduleSetting",
            "exampleSetFlag": false
          },
          "xevDepartureSchedulesSetting": {
            "additionalProperties": false,
            "$ref": "#/components/schemas/XevDepartureSchedulesSetting",
            "exampleSetFlag": false
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
      "DayOfWeekAndTime": {
        "type": "object",
        "properties": {
          "dayOfWeek": {
            "type": "string",
            "additionalProperties": false,
            "example": "MONDAY",
            "exampleSetFlag": true,
            "types": ["string"],
            "enum": [
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "timeOfDay": {
            "type": "string",
            "additionalProperties": false,
            "example": "01:00",
            "exampleSetFlag": true,
            "types": ["string"]
          }
        },
        "additionalProperties": false,
        "exampleSetFlag": false,
        "types": ["object"]
      },
[...]
